.App {
  /*text-align: center;*/
  background-color: #FFFFFF;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: #876D56;
}

.Row {
  display: flex;
}

.Profile {
  /*flex: 50%;*/
}

.Profile-image {
  /*height: 50vh;*/
  /*margin-top: 6vh;*/
  /*margin-left: 6vw;*/
  /*margin-right: 6vw;*/

}


h1 {
  /*font-size: calc(50px + 2vmin);*/
  font-size: 35px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: calc(30px + 2vmin);
  margin: 0;
  padding: 0;
}

.Text {
  padding-top: 2vw;
  padding-right: 10vw;
  padding-left: 10vw;
  color: #876D56;
}

.Left {
  margin-left: calc(50px + 1vmin);
  margin-right: calc(50px + 1vmin);
}

.Right {
  margin: 0;
}
