.App {
  /*text-align: center;*/
  background-color: #FFFFFF;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: 1.25em;
  color: #282c34;
  font-family: "New York Medium";
}

.Row {
  display: flex;
}


@media only screen and (min-width: 500px) {
  .Profile-image {
  /*height: 50vh;*/
  /*margin-top: 6vh;*/
  /*margin-left: 6vw;*/
  /*margin-right: 6vw;*/
  float: right;
}    
}


.warning {
  text-align: center;
  font-size: 1em;
}

h1 {
  /*font-size: calc(50px + 2vmin);*/
  font-size: 3.5em;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  margin-bottom: 0;
  padding: 0;
}

.Text {
  padding-top: 2vw;
  padding-right: 10vw;
  padding-left: 10vw;
  color: #876D56;
  max-width: 1200px;
  /*flex: 50%;*/
}

li {
  margin: 10px 0;
}

a {
  color: orange;
}
